.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

img {
    width: 10%;
    height: 10%;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4C8055;
    /* background: linear-gradient(315deg, #31473A 0%, #666c4e 74%); */
}

.nav-connect:hover {
    transform:scale(1.03);
    transition: 0.5s;
}